*{
	box-sizing: border-box;

}

body{
	background-color: #fdfdfd;
}

.cabecalho{
	background:linear-gradient(to left,darkblue,black);
	height: 3em;
	color: #FFF;
	margin-bottom: 2rem;
	display: flex;
	justify-content: space-between;
}

.logo{
	width: 90px;
	margin-left: 1.5rem;
}

.titulo{
	font-size: 1em;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
}

.menu-navegacao{
	margin-right: 1.5rem;
	display: flex;
	align-items: center;
	width: 10%;
	justify-content: space-around;
}

.link-navegacao{
	font-size: 0.8rem;
	color: #fff;
	text-decoration: none;
	text-transform:uppercase;
	font-weight: bold;
	font-family: "Raleway",sans-serif;
}

.conteudo-cabecalho{
	display: flex;
	justify-content: space-between;
	width: 70%;
	align-items: center;
}

.titulo-form{
	font-size: 2.5rem;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
	font-family: "raleway", sans-serif;
}

.botao{
	padding: .0.5rem;
	border: 0;
	border-bottom: 3px solid #04324c;
	font-size: 1.2rem;
	cursor: pointer;
	color: #fff;
	background-color:darkblue;
	display: block;
	clear: both;
	margin: 0.5rem;
	width: 12rem;

}