<meta charset="UTF-8">
<title>SAP</title>
<link rel="icon" href="/img/sap-logo.ico" type="image/x-icon" class="logo-title">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/root.css">