<% if (sucess_msg.length>0 ) {%>
    <div class="campo-design-sucess">
        <p class='alerta-sucesso'><%= sucess_msg%></p>
    </div>
<%}%>

<% if (error_msg.length>0) {%>
    <div class="campo-design-error">
        <p class='alerta-erro'><%= error_msg%></p>
    </div>
<%}%>

<% if (info_msg.length>0) {%>
    <div class="campo-design-info">
        <p class='alerta-info'><%= info_msg%></p>
    </div>
<%}%>
