
<% if (sucess_msg.length>0) {%>
    <p class='alert alert-success'><%= sucess_msg%></p>
<%}%>
<% if (info_msg.length>0) {%>
    <p class='alert alert-warning'><%= info_msg%></p>
<%}%>

<% if (error_msg.length>0) {%>
    <% error_msg.forEach( erro => {%>
        <p class='alert alert-danger'><%=erro.texto%></p>
    <%})%>
<%}%>

