.titulo-paciente{
    width: 30%;
    margin: auto;
    text-align: center;
}

.campo-busca{
    display: flex;
    justify-content: center;
}

.busca-simples{
    margin-top: 1rem;
}
.tamanho-input{
    width: 15rem;
    margin: .5rem;
}

.tamanho-input-maior{
    width: 30rem;
    margin: auto;
}

.btn{
    background-color: darkblue;
    color:white
}

.btn:hover{
    background-color:black;
    border-color:black;
}