.titulo-paciente{
    width: 30%;
    margin: auto;
    text-align: center;
}

.campo-busca{
    display: flex;
    justify-content: center;
}

.busca-simples{
    margin: 1.2rem 1.2rem .6rem 1.2rem;
}

.busca-nome{
    margin: 0 1.2rem 1.2rem 1.2rem;
}

.caixa-botao{
    display: flex;
    align-items: flex-end;
    margin-right: 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.botao-pesquisar{
    height: 3rem;
    width: 8rem;
    background-color: darkblue;
    border-color: darkblue;
    font-size: 1.2rem;
}

.botao-pesquisar:hover{
    background-color: darkblue;
    border-color: darkblue;
}

.numero-paginas{
    padding-right: 1.5rem ;
    padding-left: 1.5rem ;
    display: flex;
    justify-content: flex-end;
}
.pagina-ativa{
    color: white;
    font-weight: 700;
}
.pagina-link{
    font-weight: 700;
}

.pagina-link:hover{
    text-decoration: none;
}

.botao-limpar {
    height: 3rem;
    width: 8rem;
    font-weight: 400;
    font-size: 1.2rem;
}


.checkAll, .checkboxRegistro {
    height: 1.5rem;
    width: 2rem;
}