.titulo-paciente{
    width: 30%;
    margin: auto;
    text-align: center;
}

.campo-busca{
    display: flex;
    justify-content: center;
}

.busca-simples{
    margin: 1.2rem 1.2rem .6rem 1.2rem;
}

.busca-nome{
    margin: 0 1.2rem 1.2rem 1.2rem;
}

.caixa-botao{
    display: flex;
    align-items: flex-end;
}

.botao-pesquisar{
    height: 3rem;
    width: 8rem;
    background-color: darkblue;
    border-color: darkblue;
    font-size: 1.2rem;
}

.botao-pesquisar:hover{
    background-color: darkblue;
    border-color: darkblue;
}