.tabela-pacientes{
	margin-top: 2rem;
	width: auto;
	margin-bottom : .5em;
	table-layout: fixed;
	margin-left: 1rem;
	margin-right: 1rem;

}
.linha-cabecalho{
	font-weight: bold;
	background-color: darkblue;
	
}
.celula{
	padding: 0.4rem;
	border:1px solid lightgray;
	padding-top: 1rem ;
	font-family: "raleway",Cambria,sans-serif;
	color:white;
}
.celula-pequena{
	width:6rem;
}

.celula-media{
	width:12rem;
}

.celula-grande{
	width:23rem;
}

.tr-conteudo{
	text-align: center;
	border:1px solid lightgray;
}
.td-conteudo{
	padding: 6px;
	border:1px solid lightgray;
	font-size: .9rem;
}

.table th, .table td {
	vertical-align: middle;
}

