<html lang="pt-br">
    <head>
      <%- include('../partials/head');%>
      <link href="BootStrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="css/login.css" rel="stylesheet">
    </head>

  <body class="text-center">

    <header class="cabecalho">
      <div class="conteudo-cabecalho">
        <img class='logo' src="/img/logo.png">
    </div>
    </header>
    
    <form class="form-login">
      <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
      <label for="login" class="sr-only">Login</label>
      <input id="login" class="form-control login" placeholder="Seu usuário" required="" autofocus="" autocomplete="off">
      <label for="senha" class="sr-only">Senha</label>
      <input type="password" id="senha" class="form-control senha" placeholder="Senha" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Lembrar de mim
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
      <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
  

</body>
</html>