<!DOCTYPE html>
<html lang="pt-br">
<head>
    <%- include('../partials/head') %>
    <link type="text/css" href="BootStrap/css/bootstrap.css" rel="stylesheet">
    <link type="text/css" href="css/registro.css" rel="stylesheet">
</head>
<body>
    <header class="cabecalho">
        <%- include('../partials/header') %>
    </header>

    <div class="container container-titulo">
        <h1 class="cadastrar-usuario">Cadastrar Usuário</h1>
    </div>
    <form class="container form-registro">
        <label class="mb-0" for="nome">Nome:</label>
        <input class="mb-2" name="nome" required>
        <label class="mb-0" for="login">Login:</label>
        <input class="mb-2" name="login" required>
        <label class="mb-0" for="Senha">Senha:</label>
        <input class="mb-2" type="password" name="senha" required>
        <label class="mb-0" for="confirmeSenha">Confirme senha:</label>
        <input class="mb-2" type="password" name="confirmeSenha" required>
        <select class="mb-2 mt-2">
            <option>RECEPTIVO</option>
            <option>ATIVO</option>
            <option>ADMIN</option>
        </select>

        <button class="btn botao botao-registrar mt-2" type="submit">Cadastrar</button>
    </form>


    
</body>
</html>